@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Fira Code";
  src: url(../fonts/FiraCode/FiraCode-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "FiraCodeBold";
  src: url(../fonts/FiraCode/FiraCode-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "FiraCodeLight";
  src: url(../fonts/FiraCode/FiraCode-Light.ttf) format('truetype');
}

@font-face {
  font-family: "FiraCodeMedium";
  src: url(../fonts/FiraCode/FiraCode-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "FiraCodeSemiBold";
  src: url(../fonts/FiraCode/FiraCode-SemiBold.ttf) format('truetype');
}