.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Fira Code", monospace;
  padding: 2em;

  .social-items {
    display: flex;

    .social-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1em 2em 0;

      .social-item-icon {
        width: 45px;
        margin-right: 1em;
      }

      a {
        color: $color2;
        text-decoration: none;
        font-size: 1.5em;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color3;
        }

        span {
            color: $color3;
            font-weight: 300;
            margin-right: 0.2em;
        }
      }
    }
  }

}